<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baibuti.biji">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons8_copybook_96"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.WebviewActivity" />
        <activity android:name=".ui.activity.QrCodeActivity" /> <!-- Main Activity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MNote Activity -->
        <activity
            android:name=".ui.activity.ModifyNoteActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="activitytest.example.com.activitytest.ModifyNoteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- VMNote Activity -->
        <activity
            android:name=".ui.activity.ViewModifyNoteActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="activitytest.example.com.activitytest.ViewModifyNoteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- OpenSaveFile Activity -->
        <activity
            android:name=".ui.activity.OpenSaveFileActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="activitytest.example.com.activitytest.OpenSaveFileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- StarSearchItem Activity -->
        <activity
            android:name=".ui.activity.StarSearchItemActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="activitytest.example.com.activitytest.StarSearchItemActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- OCR Activity -->
        <activity
            android:name=".ui.activity.OCRActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="activitytest.example.com.activitytest.OCRActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- RegLog Activity -->
        <activity
            android:name=".ui.activity.AuthActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="activitytest.example.com.activitytest.RegLogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- PreLoaded Font -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- File Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.baibuti.biji.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/public_file_path"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>