<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baibuti.biji">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.AuthActivity" android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.ModifyNoteActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ViewModifyNoteActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.OpenSaveFileActivity" android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.OCRActivity" android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.StarSearchItemActivity" android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.WebViewActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.QrCodeActivity" android:screenOrientation="portrait" />

        <!-- PreLoad Font -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- File Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.baibuti.biji.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/public_file_path"
                tools:replace="android:resource" />
        </provider>

    </application>

</manifest>